<div class="threads threads-right">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1367.64 2008.99">
    <g>
      <g style="opacity:.5;">
        <path d="m187.41,188.41C187.41,84.91,103.5,1,0,1" stroke="#5fccf5" style="fill:none; stroke-miterlimit:10; stroke-width:2px;"></path>
        <path d="m187.41,531.09c0,83.41,67.62,151.03,151.03,151.03h176.15c83.41,0,151.03,67.62,151.03,151.03v342.68c0,103.5,83.91,187.41,187.41,187.41" stroke="#5fccf5" style="fill:none; stroke-miterlimit:10; stroke-width:2px;"></path>
        <path d="m168.24,188.41C168.24,95.49,92.92,20.17,0,20.17" stroke="#5fccf5" style="fill:none; stroke-miterlimit:10; stroke-width:2px;"></path>
        <path d="m336.48,699.33c-92.92,0-168.24-75.32-168.24-168.24" stroke="#5fccf5" style="fill:none; stroke-miterlimit:10; stroke-width:2px;"></path>
        <path d="m338.44,718.5c-103.5,0-187.41-83.91-187.41-187.41V188.41C151.03,105,83.41,37.37,0,37.37" stroke="#5fccf5" style="fill:none; stroke-miterlimit:10; stroke-width:2px;"></path>
        <path d="m702,833.16c0-103.5-83.91-187.41-187.41-187.41" stroke="#5fccf5" style="fill:none; stroke-miterlimit:10; stroke-width:2px;"></path>
        <path d="m853.04,1326.87c-83.41,0-151.03-67.62-151.03-151.03" stroke="#5fccf5" style="fill:none; stroke-miterlimit:10; stroke-width:2px;"></path>
        <path d="m682.84,833.16c0-92.92-75.32-168.24-168.24-168.24" stroke="#5fccf5" style="fill:none; stroke-miterlimit:10; stroke-width:2px;"></path>
        <path d="m851.08,1344.08c-92.92,0-168.24-75.32-168.24-168.24" stroke="#5fccf5" style="fill:none; stroke-miterlimit:10; stroke-width:2px;"></path>
        <path d="m853.04,1326.87h176.15c83.41,0,151.03,67.62,151.03,151.03v342.68c0,103.5,83.91,187.41,187.41,187.41" stroke="#5fccf5" style="fill:none; stroke-miterlimit:10; stroke-width:2px;"></path>
        <path d="m1216.6,1477.9c0-103.5-83.91-187.41-187.41-187.41" stroke="#5fccf5" style="fill:none; stroke-miterlimit:10; stroke-width:2px;"></path>
        <path d="m1367.64,1971.62c-83.41,0-151.03-67.62-151.03-151.03" stroke="#5fccf5" style="fill:none; stroke-miterlimit:10; stroke-width:2px;"></path>
        <path d="m1197.43,1477.9c0-92.92-75.32-168.24-168.24-168.24" stroke="#5fccf5" style="fill:none; stroke-miterlimit:10; stroke-width:2px;"></path>
        <path d="m1365.67,1988.82c-92.92,0-168.24-75.32-168.24-168.24" stroke="#5fccf5" style="fill:none; stroke-miterlimit:10; stroke-width:2px;"></path>
      </g>
    </g>
  </svg>
</div>