.card {
    background-clip: border-box;
    background-color: var(--white);
    border: 1px solid var(--blue-light-1);
    border-radius: .25rem;
    box-shadow: 0 .125rem .25rem var(--shadow) !important;
    display: flex;
    flex-direction: column;
    height: 85vh;
    min-width: 465px;
    overflow: auto;
    position: relative;
    width: 65vw;
    word-wrap: break-word;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
  }
  
  .card-header {
    background-color: var(--blue-light-6);
    border-bottom: 1px solid var(--blue-light-1);
    margin-bottom: 0;
    padding: .5rem 1rem;
    text-align: center;
  }
  
  .nav-buttons {
    margin: 0rem 0rem 1rem;
  }