:root {
  --blue-1: #2948a0;
  --blue-2: #213a82;
  --blue-3: #1f3677;
  --blue-4: rgba(73, 99, 174, .5);
  --blue-light-1: #d2daea;
  --blue-light-2: #b8c5de;
  --blue-light-3: #afbdda;
  --blue-light-4: rgba(181, 191, 210, .5);
  --blue-light-5: #eef4ff; 
  --blue-light-6: #e0e7f7;
  --blue-dark-1: #0e244d;
  --blue-dark-2: #1c3158;
  --green-1: #38b57c;
  --green-2: #2f9868;
  --green-3: #2c8e61;
  --green-4: rgba(86, 192, 144, .5);
  --grey-dark-1: #374151; 
  --grey-dark-2: #111827; 
  --grey-light-1: #d1d5db; 
  --grey-light-2: #e5e7eb; 
  --grey-light-3: #f9fafb; 
  --grey-light-4: #f3f4f6; 
  --red-1: #f87171; 
  --red-2: #991b1b;
  --red-3: #fef2f2; 
  --shadow: rgba(0, 23, 66, .075); 
  --yellow-1: #f1b241;
  --yellow-2: #eea41d;
  --yellow-3: #ee9f12;
  --yellow-4: rgba(207, 157, 67, .5);
  --white: #fff;
}

